body {
    background-image: url("images/background3.jpeg");
    color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.srlogoimage {
    width: 75%;
    height: 75%

}

.hidden {
    display: none;
}

.textCentered {
    text-align: center;
}

.imageResize {
    position: relative;
    width: 98%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    border-radius: 10%;
    max-height: 100%;
    max-width: 100%;
    
    
}

.borderEraser {
    margin-left: 0px;
    margin-right: 0px;
    border-left: none;
    border-right: none;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}




.alignBottom {
    text-align: center;
}



.imageSection {
    position: relative;
    z-index: 0;
}



.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "btn1 btn2"
        "infoBtn infoBtn";
    grid-column-gap: 2rem;
    height: 20px;
    padding: 4%;
    z-index: 9;
    position: absolute;
    top: 75%;
    left: 0%;
    right: 0%;
}

.infoBtn {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.iconImage {
    max-height: 30%;
    max-width: 30%;
    border-radius: 50%;
    background-color: aliceblue;
    
   
    
   
    

}

.paddingContainer {
    border-color: blanchedalmond;
    border: 50%;
    padding-left: 9%;
    padding-right: 9%;
    
}


#divBox1 {
    display: none;
}

#divBox2 {
    display: none;
}

#divBox3 {
    display: none;
}

#divBoxes {
    text-align: center;
}

.projectText {
    border: 3px solid aliceblue;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    border-radius: 25px;
    padding: 1%;
    
}


        
        



p {
    font-size: medium;
}

.cv {
    height: auto;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    padding: 1%;
}

#cvDownload {
    text-align: center;
    font-size: large;
}

.vid {
    border-radius: 2%;
}

#gameBorder1 {
    border: 3px solid aliceblue;
    padding: 50px;
}

#gameBorder2 {
    border: 3px solid aliceblue;
    padding: 50px;
}

.containerGame {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "video firstCol"
        "video secondCol";
    grid-gap: 0.2rem;
    padding-bottom: 2%;
    }
    


#firstCol {
    grid-area: firstCol;
    border: 3px solid aliceblue;
    text-align: center;
    border-radius: 25px;
    
    
   
}

#secondCol {
    grid-area: secondCol;
    border: 3px solid aliceblue;
    border-radius: 25px;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    

}




#videoCus {
    grid-area: video;
    
   
}

@media only screen and (max-width: 770px) {
    

    .mobileHeightz{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .smallerBig{
        padding-top: 45%;
    }

    

 

    

   
    
}

@media only screen and (max-width: 990px) {
    .projectText{
        margin-top: 5%;
    }

    .containerGame{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "video"
            "firstCol"
            "secondCol"
            "thirdCol";
    }
}

.imageResizeGame {
   max-height: 100%;
   max-width: 100%;
   padding-top: 15%;
   border-radius: 7%;
   
   
}

.slideContainerDT {
    height: 562px;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}



.imageContainerDT {
    height: 562px;
    width: 6000px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    
}

.sliderImg {
    float: left;
    margin: 0px;
    padding: 0px;
}

.buttonContainer {
    top: -50px;
    position: relative;
}

.sliderButton {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: aliceblue;
}

#sliderImg1:target ~ .imageContainerDT{
    left: 0px;
}

#sliderImg2:target ~ .imageContainerDT{
    left: -1000px;
}

#sliderImg3:target ~ .imageContainerDT{
    left: -2000px;
}

#sliderImg4:target ~ .imageContainerDT{
    left: -3000px;
}

#sliderImg5:target ~ .imageContainerDT{
    left: -4000px;
}

#sliderImg6:target ~ .imageContainerDT{
    left: -5000px;
}

#downloadbtndt {
    margin-left: 46%;
}

#downloadbtncv {
    margin-left: 46%;
   
}

.big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "Anybody", cursive;
    color: aliceblue;
    
  }



.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgb(22, 23, 24);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.hide {
    background: black;
    overflow: hidden;
    text-align: center;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

#footer {
    margin-top: auto;
    margin-bottom: 5px;
    
}

#footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "footerCol1 footerCol2 footerCol3"; 
    grid-gap: 0.2rem;
    grid-template-columns: 42px 42px 42px;
    grid-template-rows: 42px;
    justify-content: center;

    
}

#gitIcon {

    background-color: aliceblue;
    border-radius: 80%;
    max-height: 100%;
}

#mailIcon {
    background-color: aliceblue;
    border-radius: 50%;
    max-height: 100%;

}

#linkedIcon {
    background-color: aliceblue;
    border-radius: 50%;
    max-height: 100%;
}

#footerCol1 {
    max-width: 100%;
    height: auto;
    background-size: cover;
}

#footerCol2 {
    max-width: 100%;
    height: auto;
    background-size: cover;
}

#footerCol3 {
    max-width: 100%;
    height: auto;
    background-size: cover;
}

#downloadbtndt {
   margin-top: 1%;
   margin-bottom: 1%;
}

.smallerBig {
    font-size:large;
    margin-top: 30%;
    text-align: center;
    font-family: "Anybody", cursive;

}

.contactPage {
    text-align: center;
}

.contactFont {
    font-family: "Anybody", cursive;
}

.contactDetails {
    margin-top: 10%
}