{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="slideContainerDT">
        <span id="sliderImg1"></span>
        <span id="sliderImg2"></span>
        <span id="sliderImg3"></span>
        <span id="sliderImg4"></span>
        <span id="sliderImg5"></span>
        <span id="sliderImg6"></span>
        
        <div class="imageContainerDT">
            
            <img src="{% static 'webapp/images/aspnet1.png' %}" class="sliderImg">
            <img src="{% static 'webapp/images/aspnet2.png' %}" class="sliderImg">
            <img src="{% static 'webapp/images/aspnet3.png' %}" class="sliderImg">
            <img src="{% static 'webapp/images/aspnet4.png' %}" class="sliderImg">
        </div>
        <div class="buttonContainer">
            <a href="#sliderImg1" class="sliderButton"></a>
            <a href="#sliderImg2" class="sliderButton"></a>
            <a href="#sliderImg3" class="sliderButton"></a>
            <a href="#sliderImg4" class="sliderButton"></a>
        </div>
    </div>
    
</div>
{% endblock %}