{% extends 'base.html' %}

{% block content %}
<div class="contactPage">
    <h1 class="text-center contactFont">Contact</h1>
    <div class="contactDetails">
        <p class="font-weight-light text-light">Email: <a href="mailto:sebastianrichards@me.com">sebastianrichards@me.com</a></p>
        <p class="font-weight-light text-light">Phone: +44 7542930048</p>
        <p class="font-weight-light text-light">LinkedIn: <a href="https://www.linkedin.com/in/sebastian-richards-306730179/">https://www.linkedin.com/in/sebastian-richards-306730179/</a></p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js"></script>

<script>
   
    const tl = gsap.timeline({ defaults: { ease: "power1.out" } });
        
    tl.fromTo(".contactPage", { opacity: 0 }, { opacity: 1, duration: 0.2 });


</script>
{% endblock %}