{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="projectsPage">
  <div class="imageSection">
      <div class="container paddingContainer">
        <div class="row">
          <div class="col-md-4 col-sm-12 borderEraser">
            <img class="imageResize" src="{% static 'webapp/images/srblogthumb.jpg' %}">
            <div class="info">
              <a class="btn btn-dark alignLeft btn1" href="https://sebastianrichardsblog.herokuapp.com/home">View Project</a>
              <a class="btn btn-dark alignRight btn2" href="https://github.com/SebastianRichards/FlaskBlog">View Code</a>
              <a class="infoBtn" href="#">
                <img class="iconImage" id="info1" src="{% static 'webapp/images/infoIcon.png' %}">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 borderEraser mobileHeightz">
              <img class="imageResize" src="{% static 'webapp/images/digitaltwin.jpeg' %}">
              <div class="info">
                <a class="btn btn-dark alignLeft" href="{% url 'digitaltwin' %}">View Project</a>
                <a class="btn btn-dark alignRight" href="{% url 'thesis' %}">View Thesis</a>
                <a class="infoBtn" href="#">
                  <img class="iconImage" id="info2" src="{% static 'webapp/images/infoIcon.png' %}">
                </a>
              </div>
          </div>
          <div class="col-md-4 col-sm-12 borderEraser">
            <img class="imageResize" src="{% static 'webapp/images/mariopicthumb.jpg' %}">
            <div class="info">
              <a class="btn btn-dark alignLeft" href="{% url 'game' %}">View Project</a>
              <a class="btn btn-dark alignRight" href="https://github.com/SebastianRichards/game">View Code</a>
              <a class="infoBtn" href="#">
                <img class="iconImage" id="info3" src="{% static 'webapp/images/infoIcon.png' %}">
              </a>
            </div>
          </div>
        </div>
    </div>
    </div>

  <div class="projectText">
    <div id="divBox0">
      <h1>Portfolio Website Info</h1>
      <p>This portfolio website was built with django, html, css, bootstrap, css grid, flexbox, javascript and gsap for animations.
        To find out info about any of the projects listed above, click on their respective info icons.
      </p>
    </div>
    <div id="divBox1">
      <h1>Flask Social Networking Microblogging Service</h1>
      <p>This website was built with flask, python, css, html, bootstrap, and sqlite uploaded by heroku</p>
    </div>
    <div id="divBox2">
      <h1>Digital Twin of a Chemical Microreactor</h1>
      <p>This application utilises the MERN stack to interface with OPC UA, allowing a user to specify a virtual microreactor which initialises an OPC UA server containing the specified information. With the expressJS backend, users can make backend API calls to trigger OPC UA client calls to communicate with the newly initiated OPC UA server. More information can be found by clicking the thesis button.</p>
    </div>
    <div id="divBox3">
      <h1>Don't Take That Bait Game</h1>
      <p>This game was built with python and the pygame module. It is inspired by flappy bird.</p>
    </div>

  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js"></script>

<script>
   
    const tl = gsap.timeline({ defaults: { ease: "power1.out" } });
        
    tl.fromTo(".projectsPage", { opacity: 0 }, { opacity: 1, duration: 0.2 });


</script>


  
{% endblock %}
