{% extends 'base.html' %}
{% load static%}
{% block content %}

<div class="contactPage">
    <iframe id="myPDF" src="{% static 'webapp/images/1-report.pdf' %}" frameborder="0"></iframe>
</div>

<div class="slideContainerDT">
    <span id="sliderImg1"></span>
    <span id="sliderImg2"></span>
    <span id="sliderImg3"></span>
    <span id="sliderImg4"></span>
    <span id="sliderImg5"></span>
    <span id="sliderImg6"></span>
    
    <div class="imageContainerDT">
        <img src="{% static 'webapp/images/dt1.png' %}" class="sliderImg">
        <img src="{% static 'webapp/images/dt2.png' %}" class="sliderImg">
        <img src="{% static 'webapp/images/dt3.png' %}" class="sliderImg">
        <img src="{% static 'webapp/images/dt4.png' %}" class="sliderImg">
    </div>
    <div class="buttonContainer">
        <a href="#sliderImg1" class="sliderButton"></a>
        <a href="#sliderImg2" class="sliderButton"></a>
        <a href="#sliderImg3" class="sliderButton"></a>
        <a href="#sliderImg4" class="sliderButton"></a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js"></script>

<script>
   
    const tl = gsap.timeline({ defaults: { ease: "power1.out" } });
        
    tl.fromTo(".contactPage", { opacity: 0 }, { opacity: 1, duration: 0.2 });


</script>
{% endblock %}